@{ 
    string searchStr = ViewBag.SearchStr;
}

<table>
    <tr>
        <td class="form-group">Search:<input class="form-control" id="SearchBox" type="text" value="@searchStr" placeholder="Enter search query..." /></td>
    </tr>
</table>